
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
a {
  color: rgb(255, 255, 255)!important;
  transition: all 3s;
}
a:visited {
  color: rgb(255, 255, 255);
}
a:hover {
  color: black!important;
  text-decoration: none!important;
}
.white {
  color: white;
}




/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: rgb(56, 196, 173);
  border-bottom: .3rem solid rgb(66, 41, 112);
}

.nav__item {
  font-size: 1rem;
  font-weight: 500;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.header__wrap {
  background-color: lightgrey;
  width: 100%;
  justify-content: center;
  height: 70vh;
  transform: skewY(10deg);
  position: relative;
  z-index: 10;

}
.header__inner-wrap {
  transform: skewY(-10deg);
  text-align: center;
}
.hero__img {
  width: 50rem;
  padding-top: 10rem;
  display: inline-block;
  position: relative;
}

.hero__h1 {
  font-size: 2rem;
  font-weight: 800;
  position: absolute;
  left: 0rem;
  top: 2rem;
  line-height: 4rem;
  text-align: left;
}
.header__name1 {
  font-size: 5.5rem;
}
.header__name2 {
  font-size: 2.5rem;
  font-weight: 400;
  background-color: rgb(56, 196, 173);
  padding: .25rem 1rem .5rem 1rem;
  border-radius: 1rem;
  color: white;
  border: .3rem solid rgb(66, 41, 112);
}

.hero__h2 {
  font-size: 1.3rem;
  /* font-size: 1rem; */
}

.img-fluid {
  max-width: 100% \9;
  height: auto;
}

.hero__button {
  font-weight: 400 !important;
  background-color: #00D3AE !important;
  color: white!important;
  font-weight: bold;
  text-transform: uppercase;
  border: .3rem solid rgb(66, 41, 112)!important;
  border-radius: 1rem !important;
}

  
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  padding-top: 10rem;
  transform: skewY(-2deg);
  background-color:  #00D3AE;
  width: 100%;
  justify-content: center;
  height: 70vh;
  border: .3rem solid rgb(66, 41, 112);
}
.about__inner {
  transform: skewY(2deg);
}

.about__h1 {
  font-size: 4.2rem;
  font-weight: 800;
}

.about__h2 {
  font-size: 1rem;
}

.about__title {
  margin-top: -5rem;
  margin-bottom: 5rem;
  color: white;
}
.about__desc {
color:  rgb(66, 41, 112);
font-size: 1.25rem;
font-weight: bold;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/




  

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

