
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/





/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__item {
  font-size: 1.5vw;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero__h1 {
  font-size: 5vw;
  /* font-size: 2rem; */
  font-weight: 800;
}

.hero__h2 {
  font-size: 2vw;
  /* font-size: 1rem; */
}

img {
  width: 90%;
}

.hero__button {
  background-color: #00D3AE !important;
}

  
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about__h1 {
  font-size: 1rem;
}

.about__h2 {
  font-size: 0.5rem;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/





  

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

