
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/





/*--------------------------------------------------------------
# NAV
--------------------------------------------------------------*/

nav {
  display: flex;
  justify-content: end;
  align-items: center;
}

.nav__item {
  font-size: 1rem;
  font-weight: 500;
}

.nav__item a {

  /* color: #00D3AE !important; */
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.hero__h1 {
  font-size: 2rem;
  font-weight: 800;
}

.hero__h2 {
  font-size: 1.3rem;
  /* font-size: 1rem; */
}

.img-fluid {
  max-width: 100% \9;
  height: auto;
}

.hero__button {
  font-weight: 400 !important;
  background-color: #00D3AE !important;
}

  
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about__h1 {
  font-size: 3.2rem;
  font-weight: 800;
}

.about__h2 {
  font-size: 1rem;
}

/*--------------------------------------------------------------
# Projects
--------------------------------------------------------------*/




  

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/




/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

